<p>hellloooooo</p>
<%= Time.now %>
<% Time.now %>


<% @a.each do |element| %>
<p><b>
  <p>html</p>
  <%= element %>
  </b></p>
<% end %>

<% @b.each do |element| %>
<p>
  <%= element.reverse %>
  </p>
<% end %>

